<head><style>
  @font-face{
    font-family: 'quaterback';
    src: url('/quaterback.ttf') format('truetype');
  }
    #qtr{
    font-family: 'quaterback';
  }
</style></head>
<h1><font id ="qtr" size=7 color="white">
NEW LISTING.</font></h1>

<%= render 'form' %>

<%= link_to 'back', :back %>
<%= link_to 'home', '/' %>